<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传广告</title>
</head>
<body>

<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

    <fieldset>

        <legend>上传文件</legend>
        <div>
            <label>公司名字：</label>
            <input type="text" name="name"/>
        </div>

        <div>
            <label>投放资金：</label>
            <input type="text" name="description"/>
        </div>

        <div>
            <label>投放时长：</label>
            <input type="text" name="description"/>
        </div>

        <div>
            <label>图片：</label>
            <input type="file" name="docfile" />
        </div>



        <input type="submit" value="上传"/>

    </fieldset>

</form>
</body>
</html>